<!doctype html>
<html>
    <head>
        <title>Guia TODO by kenliten</title>
        <meta charset="utf-8">
        <!-- viewport, just for better css sizing -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- a tiny, personal, and unfinished css framework -->
        <link rel="stylesheet" href="css/nvk.min.css">
        <link rel="stylesheet" type="text/css" href="./css/master.css">
        <meta name="author" content="kenliten">
    </head>
    <body>

        <!-- A big title -->
        <div class="container t-white light-green t-center">
            <h1 class="tb-margin-m">Guia TODO</h1>
        </div>
        <!-- the app root -->
        <div id="todo-app" class="panel">
            <div class="panel">
                <div class="container-thicker">
                    <!-- the text input to set new todos -->
                    <input autofocus
                    class="border-blue s-center"
                    type="text"
                    v-on:keyup.enter="addTodo"
                    v-model="newTodo"
                    style="font-size: larger;"
                    placeholder="Write a nue TODO">
                </div>
                <div class="container t-center">
                    <small>
                        <!-- a checkbox to control if save tha data using PouchDB -->
                        <input type="checkbox" v-model="saveTodosInBrowser" id="save-todos-checkbox">
                        <label for="save-todos-checkbox" class="t-gray">Save for later?</label>
                    </small>
                </div>
            </div>
            <hr class="border">
            <div class="panel-thicker">
                <div class="container-thicker">
                    <ul class="list">
                        <li class="list-header light-green t-white t-center">TODO List</li>
                        <li v-for="todo in todos"
                        v-bind:key="todo.id"
                        class="list-item"
                        v-bind:id="todoId(todo.id)"
                        v-bind:title="todoTitle(todo.done)"
                        >
                            {{ todo.text }}
                            <!-- todo controls -->
                            <div class="note black">
                                <a v-on:click.prevent="todoCompleted(todo.id)"
                                title="Toggle Completed/Uncompleted"
                                class="t-white"
                                ><i class="fas fa-check"></i></a>
                                <a v-on:click.prevent="openTodoEditor(todo.id)"
                                title="Edit"
                                class="t-white"
                                ><i class="fas fa-edit"></i></a>
                                <a v-on:click.prevent="removeTodo(todo.id)"
                                title="Remove"
                                class="t-white"
                                ><i class="fas fa-trash"></i></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="prompt">
                <div id="editor">
                    <h3>Edit this todo</h3>
                    <div class="panel">
                        <label for="new-text">New title:</label><br>
                        <input type="text" id="new-text" v-model="newText">
                    </div>
                    <div class="panel">
                        <button v-on:click.prevent="editTodo(target)">Save</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- PouchDB -->
        <script type="text/javascript" src="js/vendor/pouchdb-7.1.1.min.js"></script>
        <!-- FontAwesome -->
        <script type="text/javascript" src="js/vendor/all.min.js"></script>
        <!-- Vue.js -->
        <script type="text/javascript" src="js/vendor/vue.min.js"></script>
        <!-- Guia Todo App -->
        <script type="text/javascript" src="js/todo-app.js"></script>
    </body>
</html>